<div ng-controller = 'ParkingSpacesController'>
<title>Rent your Parking Space</title>
<style type="text/css">
</style>
<script type="text/javascript">
$(document).ready(function() {
	$('select').material_select();
});
</script>
</head>
<body>
	<nav>
	    <div class="nav-wrapper grey darken-3 tr">
	      <!-- <p><img class ="responsive-img"src="../images/parker-logo-new.png"></p> -->
	      <ul id="nav-mobile" class="right hide-on-med-and-down">
	        <li><a ng-if = 'user.username == undefined' href="#/login">Login</a></li>
	        <li><a ng-if = 'user.username != undefined' href = "#/">Welcome <span ng-bind = 'user.username'></span></a></li>
	        <li><button class = 'logoutbutton' ng-if = 'user.username != undefined' ng-click = 'logout(user._id)'><p class = 'logouttag'>Logout</p></button></li>
	      </ul>
	    </div>
	</nav>
	<div class = 'container'>
	<div class = 'row'>
		<div class = 'col s6 offset-s3'>
			<h3 class = 'light-blue-text'>Rent your Parking Space</h3>
		</div>
	</div>
	<form name = 'spaceForm'>
	<div class = 'row'>
		<div class = 'col s6'>
			<h5 class = 'purple-text darken-4'>What kind of spot?</h5>
			<select ng-model = 'newSpace.type'>
				<option value = 'On Street'>On Street</option>
				<option value = 'Off Street-Covered'>Off Street-Covered</option>
				<option value = 'Off Street-Uncovered'>Off Street-Uncovered</option>
			</select>
		</div>
		<div class = 'col s6'>
			<h5 class = 'purple-text darken-4'>What kind of vehicle?</h5>
			<select ng-model = 'newSpace.car'>
				<option value = 'Motorcycle'>Motorcycle</option>
				<option value = 'Compact Car'>Compact Car</option>
				<option value = 'Truck/SUV'>Truck/SUV</option>
			</select>
		</div>
	</div>
	<h5 class = 'purple-text darken-4'>Where is your spot?</h5>
	<div class = 'row'>
		<div class = 'col s6'>
			Street: <input name = 'address' type = 'text' ng-model = 'newSpace.address' placeholder = 'street...' required>
			<p class = 'redText' ng-show = 'spaceForm.address.$error.required && !spaceForm.address.$pristine'>Street is required</p>
			City: <input name = 'city' type = 'text' ng-model = 'newSpace.city' placeholder = 'city...' required>
			<p class = 'redText' ng-show = 'spaceForm.city.$error.required && !spaceForm.city.$pristine'>City is required</p>
		</div>
		<div class = 'col s6'>
			State: <input name = 'state' type = 'text' ng-model = 'newSpace.state' ng-minlength = '2' ng-maxlength = '2' placeholder = 'state...' required>
			<p class = 'redText' ng-show = 'spaceForm.state.$error.required && !spaceForm.state.$pristine'>State is required</p>
			<p class = 'redText' ng-show = 'spaceForm.state.$error.minlength && !spaceForm.state.$pristine'>State must be 2 letters long</p>
			<p class = 'redText' ng-show = 'spaceForm.state.$error.maxlength && !spaceForm.state.$pristine'>State must be 2 letters long</p>
			Zip Code: <input name = 'zip' type = 'text' ng-model = 'newSpace.zip' placeholder = 'zip...' ng-maxlength = '5' required>
			<p class = 'redText' ng-show = 'spaceForm.zip.$error.required && !spaceForm.zip.$pristine'>Zip Code is required</p>
			<p class = 'redText' ng-show = 'spaceForm.zip.$error.maxlength && !spaceForm.zip.$pristine'>Zip Code must be 5 characters long</p>
		</div>
	</div>
	<h5 class = 'purple-text darken-4'>When is it available?</h5>
	<div class = 'row'>
		<div class = 'col s6'>
			<p>From</p>
			<input name = 'dateStart' type = 'date' ng-model = 'newSpace.dateStart' required>
			<h5 class = 'purple-text darken-4'>How much do you wanna charge?</h5>
			<input name = 'price' type = 'number' ng-model = 'newSpace.price' placeholder = 'price...' required>
			<p class = 'redText' ng-show = 'spaceForm.price.$error.required && !spaceForm.price.$pristine'>Price is required</p>
		</div>
		<div class = 'col s6'>
			<p>Until</p>
			<input name = 'dateEnd' type = 'date' ng-model = 'newSpace.dateEnd' required>
			<h5 class = 'purple-text darken-4'>Do you have a picture?</h5>
			<input type = 'text' ng-model = 'newSpace.image' placeholder = 'image URL (optional)...'>
		</div>
	</div>
	</form>
	<a href="#/result" ng-click = 'addSpace(user._id)'><button class = 'yellow accent-2' ng-disabled = 'spaceForm.$invalid'>Add</button></a>
	</div>
</body>
</div>